<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whmaster.tl.whmaster">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.sys"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.StartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.inventory.ChoseInvertoryDetailListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingGoodsDetailListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ReviewGoodsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingGoodsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChooseGoodsMoveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.inventory.InventoryChoseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChooseGoodsNumbersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.inventory.ChoseInvertoryListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.inventory.ChoseInvertoryDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingListSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ReviewListSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ReviewListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.ReviewGoodsDetailListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.GenerateCkdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.CkdLibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.CkdDetailListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.TempPickingListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickDetailListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.GeneratePickActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.StorageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingFhActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.LoadingConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.CancelBarCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ScanLibraryListsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChoseLibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.StorageGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.whmaster.tl.whmaster.activity.GoodsShelvesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.PickingGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.LoadingListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ScanCodeConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChooseLibraryGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChooseNewLibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.LoadingConfirmListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.CancelBarCodeListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ScanLibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ChooseLibraryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.GoodsRikActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.GenerateSlListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.GenerateSlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.GoodsReceiptListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.GenerateSjRkListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.RkPnListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.SplitSjdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.RksjActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.whmaster.tl.whmaster.activity.ReviewGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

    </application>


</manifest>